/* =================== */
/* FOCUS PILLS SECTION */
/* =================== */
.cp-focus-pills {
  background-color: var(--cp-dark);
  padding: 2rem 0;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: visible;
}

.cp-focus-pills-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
  gap: 1rem;
  padding: 1rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.cp-focus-pills-scroll {
  display: flex;
  gap: 1rem;
  animation: autoScroll 8s linear infinite;
  min-width: max-content;
  overflow-y: visible;
}

@keyframes autoScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50.3%);
  }
}

.cp-focus-pills-container::-webkit-scrollbar {
  display: none;
}

.cp-focus-pill {
  background-color: rgba(96, 225, 224, 0.05);
  color: var(--cp-secondary);
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  border: 1px solid var(--cp-secondary);
  box-shadow: none;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.05s ease;
}

/* Every 3rd pill (3, 6, 9, ...) */
.cp-focus-pill:nth-child(3n) {
  color: var(--cp-highlight);
  border-color: var(--cp-highlight);
  background-color: rgba(155, 93, 229, 0.05);
}

/* Every 2nd pill in each group of 3 (2, 5, 8, ...) */
.cp-focus-pill:nth-child(3n-1) {
  color: var(--cp-primary);
  border-color: var(--cp-primary);
  background-color: rgba(245, 115, 115, 0.05);
}

.cp-focus-pill:hover {
  box-shadow: 0px 0px 15px rgba(255, 240, 0, 0.7);
  background-color: rgba(96, 225, 224, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cp-focus-pill:nth-child(3n):hover {
  background-color: rgba(155, 93, 229, 0.1);
}

.cp-focus-pill:nth-child(3n-1):hover {
  background-color: rgba(245, 115, 115, 0.1);
}







.cp-focus-pills-portal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4rem;
  z-index: 3;
  pointer-events: none; /* don't block mouse interactions */
}

.cp-focus-pills-portal.left {
  left: 0;
  background: linear-gradient(to right, var(--cp-dark), transparent);
}

.cp-focus-pills-portal.right {
  right: 0;
  background: linear-gradient(to left, var(--cp-dark), transparent);
}