.project-list {
  width: 600px;
}

.project-list-container {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #262626;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.project-list-branch-title {
  margin-bottom: 1.5rem;
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
}

.project-list-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .project-list {
    width: 100%;
  }
} 